{% extends 'menu.html'%}
{% load staticfiles %}

{% block content %}
    <h1>Consulta de Acolhidos</h1>
    <hr>
    <input type="text" class="form-control" placeholder="Pesquise um acolhido">
    <hr>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlCriarLista">Criar lista</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mdlViewLista">Visualizar listas</button>
    <hr>
    <table class="table">
        <tr>
            <th></th>
            <th class="col-md-4">Nome</th>
            <th>Data de Nascimento</th>
            <th>Data de Entrada</th>
            <th>Tipo sanguíneo</th>
            <th></th>
            <th></th>
        </tr>
        {% for acolhido in acolhidos %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{acolhido.nome}}</td>
            <td>{{acolhido.data_nasc | date:'dd/MM/yy'}}</td>
            <td>{{acolhido.data_entrada | date:'dd/MM/yy'}}</td> 
            <td>{{acolhido.sangue}}</td> <!-- Atualizar de acordo com a doc -->
            <td class="text-center" ng-if="acolhido.ativo == 1"><a class="btn btn-info" href="#!/consulta/acolhido/{{acolhido.id}}" role="button">Editar</a>
                <button class="btn btn-warning" ng-click="desativarAcolhido(acolhido, 0)">Desativar</button></td>
            <td class="text-center" ng-if="acolhido.ativo == 0"><a class="btn btn-info" href="#!/consulta/acolhido/{{acolhido.id}}" role="button">Editar</a>
                <button class="btn btn-warning" ng-click="desativarAcolhido(acolhido, 1)">Ativar</button></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}