{% extends 'menu.html'%}
{% load staticfiles %}

{% block content %}
    <h1>Controle de Estoque</h1>
    <hr>
    <table class="table">
        <tr>
            <th>Descrição</th>
            <th>Qtd</th>
            <th>Preço de entrada</th>
            <th></th>
            <th></th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.qtd }}</td>
            <td>{{ doador.preco_entrada }}</td>
            <td><a href="#" class="btn btn-success" role="button">ADICIONAR</a></td>
            <td><a href="#" class="btn btn-danger" role="button">REMOVER</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
