{% extends 'menu.html'%}
{% load staticfiles %}

{% block content %}
    <h1>Cadastro de Doação</h1>
    <hr>
    <br>
    <form class="form-horizontal" method="POST" action="">
        <div class="form-group ui-widget">
            <label class="col-md-2 col-md-offset-1">Doador</label>
            <div class="col-md-7">
                <div class="input-group">
                    <input type="text" class="form-control" id="txtDoador">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-input-group" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-1">Descrição</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model='doacao.descricao'><br>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9 col-md-offset-1">
                <h3>Doações em dinheiro</h3><hr>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Valor</th>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9 col-md-offset-1">
                <h3>Doações de roupa</h3><hr>
                <table class="table table-striped table-bordered tbRoupa">
                    <tr>
                        <th>Tipo de peça</th>
                        <th>Quantidade</th>
                        <th class="col-md-1"></th>
                    </tr>
                    <tr>
                        <td>Blusa</td>
                        <td>10</td>
                        <td class="text-center"><button type="button" class="close js-btn-close" style="float:none;" ><span>&times;</span></button></td>
                    </tr>
                </table>
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#maisRoupa">Adicionar mais itens</button>
                <div class="collapse" id="maisRoupa">
                    <br>
                    <fieldset>
                        <label>Qual é a peça de roupa?</label><br>
                        <input type="text" class="form-control js-tipo-item"><br>

                        <label>Quantidade</label><br>
                        <input type="number" class="form-control js-qtd-item"><br>

                        <button type="button" class="btn btn-info js-btn-add">Adicionar</button>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9 col-md-offset-1">
                <h3>Doações de alimentos</h3><hr>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th class="col-md-1"></th>
                    </tr>
                    <tr>
                        <td>Arroz</td>
                        <td>10 Kg</td>
                        <td class="text-center"><button type="button" class="close js-btn-close" style="float:none;" ><span>&times;</span></button></td>
                    </tr>
                </table>
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#maisAlimento">Adicionar mais itens</button>
                <div class="collapse" id="maisAlimento">
                    <br>
                    <fieldset>
                        <label>Qual é o item?</label><br>
                        <input type="text" class="form-control js-tipo-item"><br>

                        <label>Quantidade</label><br>
                        <input type="number" class="form-control js-qtd-item"><br>

                        <button type="button" class="btn btn-info js-btn-add">Adicionar</button>
                    </fieldset>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 text-right">
                <button class="btn btn-primary" type="reset">Limpar</button>
                <button class="btn btn-success" type="submit">Salvar</button>
            </div>
        </div>
    </form>
   
{% endblock %}